body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#top-header-bar
{
    background-color: #fafafa;
    margin-bottom: 10px;
    padding: 20px;
}

#top-header-bar h1
{
  font-size: 36px;
  font-weight: normal;
  display: inline;
}

#top-header-bar a
{
    float: right;
}

#canvas-wrapper {
  margin: 0 10px 0 10px;
  float: left;
  width: 60%;
}

#canvas {
  border: solid 1px black;
  width: 100%;
  height: 400px;
  overflow: auto;
}

#selected-wrapper {
  margin: 0 10px 0 10px;
  float: left;
  width: 100%;
}

#selected-wrapper {
  display: flex;
}

.selected {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  padding: 25px;
  background-color: #fafafa;
  overflow: auto;
}

.selected h2 {
  font-weight: normal;
  text-align: center;
}

.selected-object-prop-name {
    color: purple;
    margin-right: 0.5em;
}

.selected-object-text-value {
    color: darkblue;
}
